<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type=>

var series = {{data|safe}}
var series2 = {{data2|safe}}

Highcharts.chart('container1', {
    title: {
        text: 'Education Distribution over TOP 5 Most Negative Suburbs'
    },
    xAxis: {
        categories: ['Ashwood - Chadstone ', 'Cheltenham-Highett (East)   ', 'Auburn', 'Berry-Kangaroo Valley', 'Campbell']
    },
    labels: {
        items: [{
            html: 'Education Distribution',
            style: {
                left: '-10px',
                top: '-10px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: series
});


Highcharts.chart('container2', {
    title: {
        text: 'Education Distribution over TOP 5 Most Positive Suburbs'
    },
    xAxis: {
        categories: ['East Melbourne ', ' ACT - South West', 'Bendigo Region - South', 'Glendenning Dean Park', 'Bondi Beach - North Bondi']
    },
    labels: {
        items: [{
            html: 'Education Distribution',
            style: {
                left: '-10px',
                top: '-10px',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
            }
        }]
    },
    series: series2


});

</script>


