<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./static/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/css/dc.min.css">
  <link rel="stylesheet" href="./static/css/leaflet.css">
  <link rel="stylesheet" href="./static/css/custom.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="data.json"></script>
    <script type="text/javascript" src="../src/markerclusterer.js"></script>
    <script src ="map.js"> </script>
    <script src ="barchart.js"> </script>
        <script src ="hbarchart.js"> </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
   <link rel="stylesheet" href="./static/css//bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src ="piechart.js"> </script>
              <script src ="hbarchart.js"> </script>
        <script src ="long.js"> </script>

</head>
<div id="phone-brand-row-chart"></div>
<div id="demo"></div>

<script>

var series = {{ data|safe }}

Highcharts.chart('demo', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Sentiment Analysis Pie Chart'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'proportion',
        colorByPoint: true,
        data: series
        
    }]
});








</script>
 <link rel="stylesheet" href="./static/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/css/dc.min.css">
  <link rel="stylesheet" href="./static/css/leaflet.css">
  <link rel="stylesheet" href="./static/css/custom.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="data.json"></script>
    <script type="text/javascript" src="../src/markerclusterer.js"></script>
    <script src ="map.js"> </script>
    <script src ="barchart.js"> </script>
        <script src ="hbarchart.js"> </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
   <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src ="piechart.js"> </script>
              <script src ="hbarchart.js"> </script>
        <script src ="long.js"> </script>


</html>
