{% extends "base.html" %}
{% block content %}

<div class="conatiner text-center">
    <img src="/static/images/thailand.jpg" class="img-responsive center-block" width="600" height="200">
</div>

<div class="container text-center">
    <div class="btn-group btn-group-lg">
        <a class="btn btn-default" href="/search" role="button">Search</a>
    </div>
</div>
<div class="container">
    <h1>{{ user.nickname }}</h1>
    {% for post in posts %}
    <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
</div>
{% endblock %}